{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <a data-toggle="modal" title="Add a new product"
           href="#addProductModal" class="btn btn-primary open-AddProductModal">
            <i class="fa fa-plus"></i> Add a new product</a>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.productId }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        {% if product.category is not null %}
                            {{ product.category.name }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a title="Edit this product"
                               href="{{ path('AdminBundle:editProduct', {'product_id':product.productId}) }}"
                               class="btn btn-primary">
                                <i class="fa fa-edit"></i> Edit</a>

                            <a data-toggle="modal" title="Remove this product"
                               href="#removeProductModal" class="btn btn-danger open-RemoveProductModal"
                               data-id="{{ product.productId }}">
                                <i class="fa fa-remove"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal Add-->
    <div id="addProductModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New product</h4>
                </div>
                <div class="modal-body">
                    <p>Add a new product to menu</p>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Edit-->
    <div id="editProductModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit product</h4>
                </div>
                <div class="modal-body">
                    <p>Make changes and update this product</p>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Remove-->
    <div id="removeProductModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this product?</p>
                    <form action="{{ path('AdminBundle:removeProduct') }}" metho="post">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-danger" id="productId" name="productId" value="">Yes
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}